*~
*#
*.marks
build/
release_build/
example_designs/mem_bandwidth/bin/
example_designs/mem_bandwidth/simulation.tar.gz
example_designs/mem_bandwidth/temp_simulation/
linux64/lib/
linux64/libexec/diagnose
linux64/libexec/program
ase/mpf_src
*.pyc

