*~
*#
build/
example_designs/mem_bandwidth/bin/
example_designs/mem_bandwidth/simulation.tar.gz
example_designs/mem_bandwidth/temp_simulation/
host/linux64/lib/*.so*
ase/mpf_src
linux64/bin/diagnostic
*.pyc

